body {
    background-color: #00203FFF;
    color: #ADEFD1FF;
    font-family: 'Roboto Mono';
}

h1{
    text-align: center;
}

a{
    text-decoration: none;
    color: white;
}

a:hover{
    background-color: #ADEFD1FF;
    color: #00203FFF;
    transition-duration: 2s;
}

h2{
    color:white;
}
